@model Amigurumis.Models.Revista

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Revista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Tema:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema)
        </dd>

        <dt>
            @Html.Label("Número da Edição:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEdicao)
        </dd>

        <dt>
            @Html.Label("Foto da Capa:")
        </dt>

        <dd>
            <div class="col-md-10" style="border: thin; padding-top: 10px;">
                <div>
                    <img src="@Url.Action("getImagem", "Revistas", new { id = Model.Id })" alt="Foto de Capa da Revista" />
                </div>
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id })  |
    @Html.ActionLink("Retornar para Listagem", "Index")
</p>
